name: Update dependabot config
on:
  pull_request:
jobs:
  update:
    uses: brocahontaz/update-dependabot/.github/workflows/update-dependabot.yaml@main
    secrets:
      CHECKOUT-TOKEN: ${{ secrets.FJALLBOT_WRITE_TOKEN }}
    with:
      npm-paths: "**/package.json"
      action-paths: "**/*.yaml"
      github-user-name: FjallBot
      github-user-email: fjallbot@gmail.com
